@font-face {
    font-family: 'Providence Sans Pro';
    src: url('./fonts/providence_sans_regular-webfont.woff2') format('woff2'),
         url('./fonts/providence_sans_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  